In [346]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd
import csv
import tqdm

In [340]:
site = 'http://www.goodcarbadcar.net/2012/03/us-best-selling-autos-january-2012/#more'
site2 = 'http://www.goodcarbadcar.net/2019/03/february-2019-the-best-selling-vehicles-in-america-every-vehicle-ranked/'
site3 = 'http://www.goodcarbadcar.net/2016/12/november-2016-ytd-usa-vehicle-sales-rankings-by-mode/'

In [394]:
list_of_urls = ["http://www.goodcarbadcar.net/2019/05/april-2019-the-best-selling-vehicles-in-america-every-vehicle-ranked/',",
 "http://www.goodcarbadcar.net/2019/04/march-2019-the-best-selling-vehicles-in-america-every-vehicle-ranked/',",
 "http://www.goodcarbadcar.net/2019/03/february-2019-the-best-selling-vehicles-in-america-every-vehicle-ranked/',",
 "http://www.goodcarbadcar.net/2019/02/january-2019-the-best-selling-vehicles-in-america-every-vehicle-ranked/',",
 "http://www.goodcarbadcar.net/2019/01/december-2018-the-best-selling-vehicles-in-america-every-vehicle-ranked/',",
 "http://www.goodcarbadcar.net/2018/12/november-2018-the-best-selling-vehicles-in-america-every-vehicle-ranked/',",
 "http://www.goodcarbadcar.net/2018/11/october-2018-the-best-selling-vehicles-in-america-every-vehicle-ranked/',",
 "http://www.goodcarbadcar.net/2018/10/september-2018-the-best-selling-vehicles-in-america-every-vehicle-ranked/',",
 "http://www.goodcarbadcar.net/2018/09/august-2018-the-best-selling-vehicles-in-america-every-vehicle-ranked/',",
 "http://www.goodcarbadcar.net/2018/08/july-2018-the-best-selling-vehicles-in-america-every-vehicle-ranked/',",
 "http://www.goodcarbadcar.net/2018/07/june-2018-the-best-selling-vehicles-in-america-every-vehicle-ranked/',",
 'http://www.goodcarbadcar.net/2018/06/may-2018-ytd-u-s-vehicle-sales-rankings-the-best-selling-vehicles-in-america/',
 'http://www.goodcarbadcar.net/2018/05/april-2018-ytd-u-s-vehicle-sales-rankings-top-284-best-selling-vehicles-in-america-every-vehicle-ranked/',
 "http://www.goodcarbadcar.net/2018/04/march-2018-ytd-u-s-vehicle-sales-rankings-top-284-best-selling-vehicles-in-america-every-vehicle-ranked/'",
 "http://www.goodcarbadcar.net/2018/03/february-2018-top-287-best-selling-vehicles-america-every-vehicle-ranked/'",
 "http://www.goodcarbadcar.net/2018/02/january-2018-top-284-best-selling-vehicles-in-america-every-vehicle-ranked/'",
 "http://www.goodcarbadcar.net/2017/02/january-2017-usa-vehicle-sales-rankings-by-mode/',",
 "http://www.goodcarbadcar.net/2017/01/usa-2016-vehicle-sales-by-model-manufacturer-brand/',",
 "http://www.goodcarbadcar.net/2016/12/november-2016-ytd-usa-vehicle-sales-rankings-by-mode/'",
 "http://www.goodcarbadcar.net/2016/11/october-2016-usa-vehicle-sales-by-model-rankings/',",
 "http://www.goodcarbadcar.net/2016/10/usa-september-2016-new-vehicle-sales-by-model-brand-manufacturer/',",
 "http://www.goodcarbadcar.net/2016/09/usa-august-2016-auto-sales-by-model-brand/'",
 "http://www.goodcarbadcar.net/2016/08/usa-all-vehicle-sales-by-model-july-2016-ytd/'",
 "http://www.goodcarbadcar.net/2016/07/usa-vehicle-sales-by-model-june-2016-first-half/',",
 'http://www.goodcarbadcar.net/2016/06/may-2016-ytd-usa-vehicle-sales-by-mode/',
 'http://www.goodcarbadcar.net/2016/05/usa-vehicle-sales-by-model-april-2016-ytd-all-autos/',
 "http://www.goodcarbadcar.net/2016/04/usa-march-2016-q1-new-vehicle-sales-by-mode/',",
 "http://www.goodcarbadcar.net/2016/03/usa-auto-sales-by-model-every-vehicle-february-2016-ytd/'",
 "http://www.goodcarbadcar.net/2016/02/usa-january-2016-vehicle-sales-rankings-by-mode/',",
 "http://www.goodcarbadcar.net/2016/01/usa-vehicle-sales-by-model-2015-calendar-year-december/',",
 "http://www.goodcarbadcar.net/2016/04/usa-march-2016-q1-new-vehicle-sales-by-mode/',",
 "http://www.goodcarbadcar.net/2015/03/usa-february-2015-new-vehicle-sales-figures-by-model-make/',",
 "http://www.goodcarbadcar.net/2015/02/complete-january-2015-auto-sales-figures-every-model-and-brand/'",
 "http://www.goodcarbadcar.net/2015/01/2014-usa-new-vehicle-sales-figures-by-mode/',",
 "http://www.goodcarbadcar.net/2014/12/usa-november-2014-vehicle-sales-figures-by-mode/',",
 "http://www.goodcarbadcar.net/2014/11/usa-vehicle-sales-rankings-by-model-october-2014-ytd/'",
 "http://www.goodcarbadcar.net/2014/10/usa-auto-sales-figures-by-model-september-2014-ytd-sales-figures/'",
 "http://www.goodcarbadcar.net/2014/09/usa-auto-sales-figures-by-model-august-2014-ytd-sales-figures/'",
 "http://www.goodcarbadcar.net/2014/08/usa-auto-sales-rankings-by-make-model-july-2014-ytd-sales-figures/'",
 "http://www.goodcarbadcar.net/2014/07/usa-all-vehicle-nameplates-ranked-june-2014-ytd-sales-figures/'",
 "http://www.goodcarbadcar.net/2014/06/usa-all-vehicle-nameplates-ranked-may-2014-ytd-sales-figures/'",
 "http://www.goodcarbadcar.net/2014/05/usa-all-vehicle-nameplates-ranked-april-2014-ytd-sales-figures/'",
 "http://www.goodcarbadcar.net/2014/04/march-2014-usa-auto-sales-make-and-model-all-vehicles-ranked/'",
 "http://www.goodcarbadcar.net/2014/03/february-2014-usa-auto-sales-make-and-model-all-vehicles-ranked/'",
 "http://www.goodcarbadcar.net/2014/02/january-2014-usa-vehicle-sales-rankings-by-mode/',",
 "http://www.goodcarbadcar.net/2014/01/usa-vehicle-sales-rankings-by-model-december-2013-year-end/',",
 "http://www.goodcarbadcar.net/2013/12/usa-auto-sales-rankings-by-model-november-2013-ytd/'",
 'http://www.goodcarbadcar.net/2013/11/usa-auto-sales-brand-rankings-october-2013-ytd-sales-figures/',
 "http://www.goodcarbadcar.net/2013/10/usa-auto-sales-rankings-by-model-september-2013-ytd/'",
 'http://www.goodcarbadcar.net/2013/09/usa-auto-sales-rankings-by-model-august-2013-ytd/',
 'http://www.goodcarbadcar.net/2013/08/usa-vehicle-sales-rankings-by-model-july-2013-ytd/',
 'http://www.goodcarbadcar.net/2013/07/usa-auto-sales-rankings-by-model-june-2013-ytd/',
 'http://www.goodcarbadcar.net/2013/06/usa-vehicle-sales-rankings-by-model-may-2013-ytd/',
 "http://www.goodcarbadcar.net/2013/05/usa-vehicle-sales-rankings-by-model-april-2013-ytd/'",
 "http://www.goodcarbadcar.net/2013/04/march-2013-usa-vehicle-sales-rankings-by-mode/',",
 "http://www.goodcarbadcar.net/2013/03/february-2013-usa-vehicle-sales-rankings-by-mode/',",
 'http://www.goodcarbadcar.net/2013/02/january-2013-usa-auto-sales-rankings-by-mode/',
 'http://www.goodcarbadcar.net/2013/01/2012-usa-auto-sales-rankings-by-model7/',
 'http://www.goodcarbadcar.net/2012/12/november-2012-usa-ytd-auto-sales-rankings-by-mode/',
 'http://www.goodcarbadcar.net/2012/11/october-2012-usa-ytd-auto-sales-rankings-by-mode/',
 'http://www.goodcarbadcar.net/2012/10/september-2012-usa-ytd-auto-sales-rankings/',
 'http://www.goodcarbadcar.net/2012/09/august-2012-ytd-all-vehicle-rankings/',
 'http://www.goodcarbadcar.net/2012/08/usa-july-2012-ytd-auto-sales-rankings/',
 'http://www.goodcarbadcar.net/2012/07/us-june-2012-sales-figures-rankings-ytd/',
 'http://www.goodcarbadcar.net/2012/06/us-car-sales-rankings-june-2012/',
 "http://www.goodcarbadcar.net/2012/05/april-2012-us-car-sales-rankings-a/',",
 "http://www.goodcarbadcar.net/2012/04/us-best-selling-autos-march-2012-ytd/'",
 'http://www.goodcarbadcar.net/2012/03/us-best-selling-autos-february-2012-ytd/',
 'http://www.goodcarbadcar.net/2012/03/us-best-selling-autos-january-2012/',
 "http://www.goodcarbadcar.net/2012/01/us-best-selling-vehicles-december-2011/',",
 "http://www.goodcarbadcar.net/2011/12/us-best-selling-vehicles-november-2011/'",
 'http://www.goodcarbadcar.net/2011/11/us-best-selling-vehicles-october-2011/']

In [341]:
list_of_urls

["http://www.goodcarbadcar.net/2019/05/april-2019-the-best-selling-vehicles-in-america-every-vehicle-ranked/',",
 "http://www.goodcarbadcar.net/2019/04/march-2019-the-best-selling-vehicles-in-america-every-vehicle-ranked/',",
 "http://www.goodcarbadcar.net/2019/03/february-2019-the-best-selling-vehicles-in-america-every-vehicle-ranked/',",
 "http://www.goodcarbadcar.net/2019/02/january-2019-the-best-selling-vehicles-in-america-every-vehicle-ranked/',",
 "http://www.goodcarbadcar.net/2019/01/december-2018-the-best-selling-vehicles-in-america-every-vehicle-ranked/',",
 "http://www.goodcarbadcar.net/2018/12/november-2018-the-best-selling-vehicles-in-america-every-vehicle-ranked/',",
 "http://www.goodcarbadcar.net/2018/11/october-2018-the-best-selling-vehicles-in-america-every-vehicle-ranked/',",
 "http://www.goodcarbadcar.net/2018/10/september-2018-the-best-selling-vehicles-in-america-every-vehicle-ranked/',",
 "http://www.goodcarbadcar.net/2018/09/august-2018-the-best-selling-vehicles-in-america-every-vehicle-ranked/',",
 "http://www.goodcarbadcar.net/2018/08/july-2018-the-best-selling-vehicles-in-america-every-vehicle-ranked/',",
 "http://www.goodcarbadcar.net/2018/07/june-2018-the-best-selling-vehicles-in-america-every-vehicle-ranked/',",
 'http://www.goodcarbadcar.net/2018/06/may-2018-ytd-u-s-vehicle-sales-rankings-the-best-selling-vehicles-in-america/',
 'http://www.goodcarbadcar.net/2018/05/april-2018-ytd-u-s-vehicle-sales-rankings-top-284-best-selling-vehicles-in-america-every-vehicle-ranked/',
 "http://www.goodcarbadcar.net/2018/04/march-2018-ytd-u-s-vehicle-sales-rankings-top-284-best-selling-vehicles-in-america-every-vehicle-ranked/'",
 "http://www.goodcarbadcar.net/2018/03/february-2018-top-287-best-selling-vehicles-america-every-vehicle-ranked/'",
 "http://www.goodcarbadcar.net/2018/02/january-2018-top-284-best-selling-vehicles-in-america-every-vehicle-ranked/'",
 "http://www.goodcarbadcar.net/2017/02/january-2017-usa-vehicle-sales-rankings-by-mode/',",
 "http://www.goodcarbadcar.net/2017/01/usa-2016-vehicle-sales-by-model-manufacturer-brand/',",
 "http://www.goodcarbadcar.net/2016/12/november-2016-ytd-usa-vehicle-sales-rankings-by-mode/'",
 "http://www.goodcarbadcar.net/2016/11/october-2016-usa-vehicle-sales-by-model-rankings/',",
 "http://www.goodcarbadcar.net/2016/10/usa-september-2016-new-vehicle-sales-by-model-brand-manufacturer/',",
 "http://www.goodcarbadcar.net/2016/09/usa-august-2016-auto-sales-by-model-brand/'",
 "http://www.goodcarbadcar.net/2016/08/usa-all-vehicle-sales-by-model-july-2016-ytd/'",
 "http://www.goodcarbadcar.net/2016/07/usa-vehicle-sales-by-model-june-2016-first-half/',",
 'http://www.goodcarbadcar.net/2016/06/may-2016-ytd-usa-vehicle-sales-by-mode/',
 'http://www.goodcarbadcar.net/2016/05/usa-vehicle-sales-by-model-april-2016-ytd-all-autos/',
 "http://www.goodcarbadcar.net/2016/04/usa-march-2016-q1-new-vehicle-sales-by-mode/',",
 "http://www.goodcarbadcar.net/2016/03/usa-auto-sales-by-model-every-vehicle-february-2016-ytd/'",
 "http://www.goodcarbadcar.net/2016/02/usa-january-2016-vehicle-sales-rankings-by-mode/',",
 "http://www.goodcarbadcar.net/2016/01/usa-vehicle-sales-by-model-2015-calendar-year-december/',",
 "http://www.goodcarbadcar.net/2016/04/usa-march-2016-q1-new-vehicle-sales-by-mode/',",
 "http://www.goodcarbadcar.net/2015/03/usa-february-2015-new-vehicle-sales-figures-by-model-make/',",
 "http://www.goodcarbadcar.net/2015/02/complete-january-2015-auto-sales-figures-every-model-and-brand/'",
 "http://www.goodcarbadcar.net/2015/01/2014-usa-new-vehicle-sales-figures-by-mode/',",
 "http://www.goodcarbadcar.net/2014/12/usa-november-2014-vehicle-sales-figures-by-mode/',",
 "http://www.goodcarbadcar.net/2014/11/usa-vehicle-sales-rankings-by-model-october-2014-ytd/'",
 "http://www.goodcarbadcar.net/2014/10/usa-auto-sales-figures-by-model-september-2014-ytd-sales-figures/'",
 "http://www.goodcarbadcar.net/2014/09/usa-auto-sales-figures-by-model-august-2014-ytd-sales-figures/'",
 "http://www.goodcarbadcar.net/2014/08/usa-auto-sales-rankings-by-make-model-july-2014-ytd-sales-figures/'",
 "http://www.goodcarbadcar.net/2014/07/usa-all-vehicle-nameplates-ranked-june-2014-ytd-sales-figures/'",
 "http://www.goodcarbadcar.net/2014/06/usa-all-vehicle-nameplates-ranked-may-2014-ytd-sales-figures/'",
 "http://www.goodcarbadcar.net/2014/05/usa-all-vehicle-nameplates-ranked-april-2014-ytd-sales-figures/'",
 "http://www.goodcarbadcar.net/2014/04/march-2014-usa-auto-sales-make-and-model-all-vehicles-ranked/'",
 "http://www.goodcarbadcar.net/2014/03/february-2014-usa-auto-sales-make-and-model-all-vehicles-ranked/'",
 "http://www.goodcarbadcar.net/2014/02/january-2014-usa-vehicle-sales-rankings-by-mode/',",
 "http://www.goodcarbadcar.net/2014/01/usa-vehicle-sales-rankings-by-model-december-2013-year-end/',",
 "http://www.goodcarbadcar.net/2013/12/usa-auto-sales-rankings-by-model-november-2013-ytd/'",
 'http://www.goodcarbadcar.net/2013/11/usa-auto-sales-brand-rankings-october-2013-ytd-sales-figures/',
 "http://www.goodcarbadcar.net/2013/10/usa-auto-sales-rankings-by-model-september-2013-ytd/'",
 'http://www.goodcarbadcar.net/2013/09/usa-auto-sales-rankings-by-model-august-2013-ytd/',
 'http://www.goodcarbadcar.net/2013/08/usa-vehicle-sales-rankings-by-model-july-2013-ytd/',
 'http://www.goodcarbadcar.net/2013/07/usa-auto-sales-rankings-by-model-june-2013-ytd/',
 'http://www.goodcarbadcar.net/2013/06/usa-vehicle-sales-rankings-by-model-may-2013-ytd/',
 "http://www.goodcarbadcar.net/2013/05/usa-vehicle-sales-rankings-by-model-april-2013-ytd/'",
 "http://www.goodcarbadcar.net/2013/04/march-2013-usa-vehicle-sales-rankings-by-mode/',",
 "http://www.goodcarbadcar.net/2013/03/february-2013-usa-vehicle-sales-rankings-by-mode/',",
 'http://www.goodcarbadcar.net/2013/02/january-2013-usa-auto-sales-rankings-by-mode/',
 'http://www.goodcarbadcar.net/2013/01/2012-usa-auto-sales-rankings-by-model7/',
 'http://www.goodcarbadcar.net/2012/12/november-2012-usa-ytd-auto-sales-rankings-by-mode/',
 'http://www.goodcarbadcar.net/2012/11/october-2012-usa-ytd-auto-sales-rankings-by-mode/',
 'http://www.goodcarbadcar.net/2012/10/september-2012-usa-ytd-auto-sales-rankings/',
 'http://www.goodcarbadcar.net/2012/09/august-2012-ytd-all-vehicle-rankings/',
 'http://www.goodcarbadcar.net/2012/08/usa-july-2012-ytd-auto-sales-rankings/',
 'http://www.goodcarbadcar.net/2012/07/us-june-2012-sales-figures-rankings-ytd/',
 'http://www.goodcarbadcar.net/2012/06/us-car-sales-rankings-june-2012/',
 "http://www.goodcarbadcar.net/2012/05/april-2012-us-car-sales-rankings-a/',",
 "http://www.goodcarbadcar.net/2012/04/us-best-selling-autos-march-2012-ytd/'",
 'http://www.goodcarbadcar.net/2012/03/us-best-selling-autos-february-2012-ytd/',
 'http://www.goodcarbadcar.net/2012/03/us-best-selling-autos-january-2012/',
 "http://www.goodcarbadcar.net/2012/01/us-best-selling-vehicles-december-2011/',",
 "http://www.goodcarbadcar.net/2011/12/us-best-selling-vehicles-november-2011/'",
 'http://www.goodcarbadcar.net/2011/11/us-best-selling-vehicles-october-2011/']

In [48]:
def read_site_html(url):
'''
pulls text of tables from inputted url
returns as list of dataframes
'''
    html = requests.get(url).text
    dataframes = pd.read_html(html, header=0)
    return dataframes

In [296]:
def pull_useful_tables(dataframes):
    '''
    deletes tables with no data from list of dataframes
    returns single dataframe for month
    '''
    list_of_dfs = []
    if len(dataframes) == 1:
        return dataframes[0]
    else:
        for df in dataframes:
            if df.columns[0] == 'Rank':
                list_of_dfs.append(df)
        try:
            merged_table = pd.concat(list_of_dfs)
            return merged_table
        except:
            return list_of_dfs

In [62]:
months = ['january', 'february', 'march', 'april', 'may', 'june', 'july', 
          'august', 'september', 'october', 'november', 'december']
years = list(range(2010,2020))

In [290]:
def find_year_and_month(url):
    '''
    parses url string to find month and year & last year of table
    returns tuple of month as string and year & last year as integers
    '''
    month = [month for month in months if month in url]
    year = min([year for year in years if str(year) in url])
    last_year = year - 1
    try:
        month = month[0]
    except:
        month = 'NULL'
    return month, year, last_year

In [381]:
def change_column_to_month(dataframe, url):
    '''
    changes name of columns in dataframe to proper months, years
    cuts unneeded columns of dataframe
    '''
    alternate_columns = ['Month', 'US']
    dataframe.rename(columns={'Vehicle': 'Model', 'Best-Selling Vehicle': 'Model'}, inplace=True)
    if dataframe.columns[1] in alternate_columns:
        table_date = find_year_and_month(url)
        month_year = table_date[0] + '_' + str(table_date[1])
        month_prior_year = table_date[0] + '_' + str(table_date[2])   
        dataframe.rename(columns={'Month':month_year, 'Month LY':month_prior_year}, inplace=True)
        dataframe.rename(columns={'US':month_year, 'US LY':month_prior_year}, inplace=True)
        return dataframe.iloc[:,0:3]
    else:
        return dataframe.iloc[:,1:4]

In [395]:
def run(list_of_websites):
    '''
    takes in a list of urls, scrapes table on each page, regularizes column names,
    and adds the dataframe to a list of dataframes which is returned
    '''
    list_of_dataframes = []
    for url in list_of_urls:
        tables = read_site_html(url)
        df = pull_useful_tables(tables)
        df = change_column_to_month(df, url)
        list_of_dataframes.append(df)
    return list_of_dataframes

In [385]:
def merge_dataframes(list_of_df)
    '''
    merges all dataframes on the model column, returns a single dataframe
    '''
    df  = pd.DataFrame(columns=['Model'])
    for dataframe in list_of_dataframes:
        df = df.merge(dataframe, how='outer', on='Model')
    return df

In [386]:
list_of_dataframes

[                         Model april_2019 april_2018
 0              Fiat 124 Spider        329        337
 1                 BMW 2-Series        581        879
 2                 Chrysler 200          3         95
 3                      Mazda 3       4351       4725
 4                 BMW 3-Series       3642       3550
 5                 Chrysler 300       1998       3913
 6                  Nissan 370Z        177        260
 7                 BMW 4-Series       1214       2473
 8                Alfa Romeo 4C         27         22
 9               Toyota 4Runner      10055       9970
 10                BMW 5-Series       2857       3056
 11                    Fiat 500        273        335
 12                   Fiat 500L         72        168
 13                   Fiat 500X        257        564
 14                     Mazda 6       2340       2909
 15                BMW 6-Series         96        398
 16             Volvo 60-Series       1259       1392
 17                BMW 7-Series        567        546
 18                 Porsche 718        612        604
 19                BMW 8-Series        275          0
 20            Toyota 86 / FR-S        268        337
 21             Volvo 90-Series        333        763
 22                 Porsche 911        655        940
 23       Mercedes-Benz A-Class        804          0
 24                     Audi A3        681       1593
 25                     Audi A4       1860       3126
 26                     Audi A5       1685       2169
 27                     Audi A6       1374       1172
 28                     Audi A7        441        280
 29                     Audi A8        187         83
 ..                         ...        ...        ...
 197          Volkswagen Tiguan      10564       8684
 198               Nissan Titan       2489       2670
 199                  Acura TLX       2096       2914
 200         Volkswagen Touareg         12        170
 201  Chrysler Town and Country          2          0
 202                    Audi TT        114        167
 203              Toyota Tundra       8862       9457
 204             Hyundai Tuscon       8682      12903
 205                   Lexus UX       1273          0
 206           Hyundai Veloster       1554        924
 207               Toyota Venza          1          0
 208               Nissan Versa       6710       5998
 209                Dodge Viper          1          2
 210              Jeep Wrangler      22422      29776
 211                     BMW X1       1618       2501
 212                     BMW X2        822       1069
 213                     BMW X3       4321       3865
 214                     BMW X4        638        193
 215                     BMW X5       3781       3800
 216                     BMW X6        424        592
 217                     BMW X7       2291          0
 218                 Volvo XC40       1824       1404
 219                 Volvo XC60       2251       2492
 220                 Volvo XC90       2700       2282
 221                  Jaguar XE        217        299
 222                  Jaguar XF         71        142
 223                  Jaguar XJ         93        100
 224               Toyota Yaris       3885       3194
 225                     BMW Z4        271          0
 226                      Model      Month   Month LY

 [227 rows x 3 columns],                      Model march_2019 march_2018
 0          Fiat 124 Spider        214        325
 1             BMW 2-Series        746       1179
 2             Chrysler 200          8        189
 3                  Mazda 3       6009       7760
 4             BMW 3-Series       4620       4845
 5             Chrysler 300       3704       6223
 6              Nissan 370Z        263        447
 7             BMW 4-Series       1875       3230
 8            Alfa Romeo 4C         18         22
 9           Toyota 4Runner      12510      11761
 10            BMW 5-Series       3690       4397
 11                Fiat 500        310        439
 12               Fiat 500L         61        173
 13               Fiat 500X        262        607
 14                 Mazda 6       3396       3734
 15            BMW 6-Series        149        471
 16         Volvo 60-Series       1501       1156
 17            BMW 7-Series        988        823
 18             Porsche 718        239        489
 19            BMW 8-Series        364          0
 20        Toyota 86 / FR-S        320        491
 21         Volvo 90-Series        346       1131
 22             Porsche 911        803        883
 23   Mercedes-Benz A-Class        890          0
 24                 Audi A3       1182       1823
 25                 Audi A4       2652       3296
 26                 Audi A5       2224       2587
 27                 Audi A6       1963       1171
 28                 Audi A7        672        367
 29                 Audi A8        261        135
 ..                     ...        ...        ...
 253         Chevrolet Trax       8732       8207
 254                Audi TT        122        186
 255          Toyota Tundra      10351      10697
 256         Hyundai Tuscon      11976      11806
 257               Lexus UX       1776          0
 258       Hyundai Veloster       2055       1445
 259           Toyota Venza          1          0
 260           Nissan Versa      10933      10921
 261         Chevrolet Volt        895       1782
 262          Jeep Wrangler      21963      27829
 263                 BMW X1       3470       3717
 264                 BMW X2       1079        947
 265                 BMW X3       6727       4547
 266                 BMW X4        577        513
 267                 BMW X5       4460       4840
 268                 BMW X6        646        763
 269                 BMW X7       2186          0
 270             Volvo XC40       1550       1001
 271             Volvo XC60       2936       2379
 272             Volvo XC90       3236       2796
 273              Jaguar XE        658        609
 274              Jaguar XF        212        215
 275              Jaguar XJ        128        191
 276           Cadillac XT4       2496          0
 277           Cadillac XT5       4717       6188
 278           Cadillac XTS       1327       1735
 279           Toyota Yaris       3999       3062
 280              GMC Yukon       5310       3257
 281                 BMW Z4        201          0
 282                  Model      Month   Month LY

 [283 rows x 3 columns],                     Model february_2019 february_2018
 0         Fiat 124 Spider           139           223
 1            BMW 2-Series           738           949
 2            Chrysler 200             6           219
 3                 Mazda 3          4610          6070
 4            BMW 3-Series          2379          4255
 5            Chrysler 300          2508          4449
 6             Nissan 370Z           211           312
 7            BMW 4-Series          2685          2124
 8           Alfa Romeo 4C            16            20
 9          Toyota 4Runner          9984         10120
 10           BMW 5-Series          2976          3185
 11               Fiat 500           207           416
 12              Fiat 500L            51           118
 13              Fiat 500X           219           484
 14                Mazda 6          1906          2246
 15           BMW 6-Series           315           336
 16        Volvo 60-Series          1058          1004
 17           BMW 7-Series           851           615
 18            Porsche 718           163           448
 19           BMW 8-Series           138             0
 20       Toyota 86 / FR-S           231           361
 21        Volvo 90-Series           367           809
 22            Porsche 911           990           775
 23                Audi A3           823          1510
 24                Audi A4          1436          2331
 25                Audi A5          1603          1888
 26                Audi A6          1506           842
 27                Audi A7           474           268
 28                Audi A8           242           124
 29             GMC Acadia          9853         10705
 ..                    ...           ...           ...
 249          Ford Transit         10055          9666
 250  Ford Transit Connect          2823          2101
 251    Chevrolet Traverse         10807         11548
 252        Chevrolet Trax          7762          6169
 253               Audi TT            77            76
 254         Toyota Tundra          7590          7977
 255        Hyundai Tuscon          9411          8438
 256              Lexus UX          1358             0
 257      Hyundai Veloster           981           851
 258          Nissan Versa          7410          7196
 259        Chevrolet Volt           796           983
 260         Jeep Wrangler         15001         15936
 261                BMW X1          1445          2857
 262                BMW X2          1256             0
 263                BMW X3          4706          3281
 264                BMW X4           453           517
 265                BMW X5          4360          4006
 266                BMW X6           859           721
 267            Volvo XC40           985            71
 268            Volvo XC60          2229          1955
 269            Volvo XC90          1996          2444
 270             Jaguar XE           777           434
 271             Jaguar XF           278           162
 272             Jaguar XJ           109           191
 273          Cadillac XT4          2219             0
 274          Cadillac XT5          4193          4668
 275          Cadillac XTS          1179          1943
 276          Toyota Yaris          2572          2592
 277             GMC Yukon          4720          2936
 278                 Model         Month      Month LY

 [279 rows x 3 columns],                     Model january_2019 january_2018
 0         Fiat 124 Spider          160          183
 1            BMW 2-Series          578          640
 2            Chrysler 200           12          251
 3                 Mazda 3         4596         5825
 4            BMW 3-Series         1226         4551
 5            Chrysler 300         2078         2320
 6             Nissan 370Z          173          224
 7            BMW 4-Series         2842         1585
 8           Alfa Romeo 4C            7           12
 9          Toyota 4Runner        10335         9669
 10           BMW 5-Series         3679         2456
 11               Fiat 500          261          454
 12              Fiat 500L           56          104
 13              Fiat 500X          274          488
 14                Mazda 6         1619         1552
 15           BMW 6-Series          161          223
 16        Volvo 60-Series         1400          993
 17           BMW 7-Series          454          362
 18            Porsche 718          263          415
 19           BMW 8-Series           99            0
 20       Toyota 86 / FR-S          256          317
 21        Volvo 90-Series          514          719
 22            Porsche 911         1101          853
 23                Audi A3          664         1143
 24                Audi A4         1691         2024
 25                Audi A5         1651         1599
 26                Audi A6         1889          751
 27                Audi A7          620          208
 28                Audi A8          284          112
 29             GMC Acadia        10263         7444
 ..                    ...          ...          ...
 250  Ford Transit Connect         2941         1914
 251    Chevrolet Traverse        11258        11627
 252        Chevrolet Trax         8086         6106
 253               Audi TT           11          105
 254         Toyota Tundra         7159         7644
 255        Hyundai Tuscon         7444         7638
 256              Lexus UX          791            0
 257      Hyundai Veloster          855          744
 258          Nissan Versa         6649         7248
 259           Dodge Viper            1            2
 260        Chevrolet Volt          829          713
 261         Jeep Wrangler        13024        11739
 262                BMW X1          941         1677
 263                BMW X2          616            0
 264                BMW X3         3135         2954
 265                BMW X4          406          387
 266                BMW X5         3092         3230
 267                BMW X6          595          535
 268            Volvo XC40         1042            0
 269            Volvo XC60         1471         1699
 270            Volvo XC90         1427         2149
 271             Jaguar XE          406          592
 272             Jaguar XF           96          203
 273             Jaguar XJ          172          231
 274          Cadillac XT4         2311            0
 275          Cadillac XT5         4368         3989
 276          Cadillac XTS         1228         1220
 277          Toyota Yaris         1323         2306
 278             GMC Yukon         4917         2701
 279                 Model        Month     Month LY

 [280 rows x 3 columns],                   Model december_2018 december_2017
 0       Fiat 124 Spider           184           287
 1          BMW 2-Series           718          1188
 2          Chrysler 200             6           332
 3               Mazda 3          5277          5669
 4          BMW 3-Series          3184          5556
 5          Chrysler 300          3483          5726
 6           Nissan 370Z           202           304
 7          BMW 4-Series          1916          3411
 8         Alfa Romeo 4C            10            26
 9        Toyota 4Runner         13309         11954
 10         BMW 5-Series          4756          4743
 11             Fiat 500           418           667
 12            Fiat 500L            39           111
 13            Fiat 500X           336           673
 14              Mazda 6          2357          1776
 15         BMW 6-Series           330           369
 16      Volvo 60-Series           302          1338
 17         BMW 7-Series           983          1107
 18          Porsche 718           237           301
 19         BMW 8-Series           223             0
 20     Toyota 86 / FR-S           295           425
 21      Volvo 90-Series           664          1148
 22          Porsche 911           789           773
 23              Audi A3           792          2024
 24              Audi A4          1881          3916
 25              Audi A5          1746          2958
 26              Audi A6          3058          1970
 27              Audi A7          1095           453
 28              Audi A8           380           266
 29           GMC Acadia          8485         10837
 ..                  ...           ...           ...
 250  Chevrolet Traverse         13350         12313
 251      Chevrolet Trax          7556          6563
 252             Audi TT            16           237
 253       Toyota Tundra         11216         10886
 254      Hyundai Tuscon         15384         11633
 255            Lexus UX           453             0
 256    Hyundai Veloster          1161           755
 257        Toyota Venza             8             0
 258        Nissan Versa          6735          7125
 259         Dodge Viper             3             9
 260      Chevrolet Volt          1710          1937
 261       Jeep Wrangler         19800         13700
 262              BMW X1          3411          4454
 263              BMW X2          1454             0
 264              BMW X3          8511          4283
 265              BMW X4           612           538
 266              BMW X5          7323          6847
 267              BMW X6           483          1005
 268          Volvo XC40          1316             0
 269          Volvo XC60          3387          2421
 270          Volvo XC90          3157          4771
 271           Jaguar XE           443           707
 272           Jaguar XF           153           345
 273           Jaguar XJ           124           263
 274        Cadillac XT4          2557             0
 275        Cadillac XT5          4586          6888
 276        Cadillac XTS          1710          1224
 277        Toyota Yaris          1252          2111
 278           GMC Yukon          8565          8531
 279               Model         Month      Month LY

 [280 rows x 3 columns],                   Model november_2018 november_2017
 0       Fiat 124 Spider           197           268
 1          BMW 2-Series           574           884
 2          Chrysler 200            11           359
 3               Mazda 3          3974          4708
 4          BMW 3-Series          3218          6181
 5          Chrysler 300          4569          2951
 6           Nissan 370Z           271           320
 7          BMW 4-Series          2806          2776
 8         Alfa Romeo 4C            11            27
 9        Toyota 4Runner         11494         10103
 10         BMW 5-Series          4271          4002
 11             Fiat 500           707           782
 12            Fiat 500L            47           127
 13            Fiat 500X           358           556
 14              Mazda 6          1984          1651
 15         BMW 6-Series           266           351
 16      Volvo 60-Series           834          1087
 17         BMW 7-Series           603           788
 18          Porsche 718           422           522
 19     Toyota 86 / FR-S           293           456
 20      Volvo 90-Series           599          1529
 21          Porsche 911          1056           976
 22              Audi A3           813          1374
 23              Audi A4          1635          2690
 24              Audi A5          1221          2243
 25              Audi A6          1682          1340
 26              Audi A7           798           453
 27              Audi A8           310           217
 28           GMC Acadia          8158          8649
 29       Hyundai Accent          1957          3624
 ..                  ...           ...           ...
 244  Chevrolet Traverse         12836         11231
 245      Chevrolet Trax          7266          6595
 246             Audi TT            29           191
 247       Toyota Tundra          9689          9700
 248      Hyundai Tuscon         11908         11532
 249    Hyundai Veloster           853           781
 250        Toyota Venza             1             0
 251        Nissan Versa          5122          7274
 252         Dodge Viper             1             7
 253      Chevrolet Volt          1644          1702
 254       Jeep Wrangler         15963         13289
 255              BMW X1          1866          2798
 256              BMW X2          2283             0
 257              BMW X3          5451          3087
 258              BMW X4           481           541
 259              BMW X5          5191          5515
 260              BMW X6           696           799
 261          Volvo XC40          1022             0
 262          Volvo XC60          3227          1977
 263          Volvo XC90          2499          3261
 264           Jaguar XE           574           639
 265           Jaguar XF           111           383
 266           Jaguar XJ            90           213
 267        Cadillac XT4          2459             0
 268        Cadillac XT5          4410          5623
 269        Cadillac XTS          1644          1938
 270        Toyota Yaris          1436          2751
 271           GMC Yukon          8236          4567
 272              BMW Z4             1             0
 273               Model         Month      Month LY

 [274 rows x 3 columns],                     Model october_2018 october_2017
 0         Fiat 124 Spider          219          248

In [396]:
df1

,Model,april_2019,april_2018_x,march_2019,march_2018_x,february_2019,february_2018_x,january_2019,january_2018_x,december_2018,...,February 2012 YTD,February 2011 YTD,January 2012_y,January 2011,December 2011,% Change_y,November 2011,% Change,October 2011,October 2010
0,Fiat 124 Spider,329,337,214,325,139,223,160,183,184,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BMW 2-Series,581,879,746,1179,738,949,578,640,718,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Chrysler 200,3,95,8,189,6,219,12,251,6,...,16724,4482,7007,788,NaN,NaN,NaN,NaN,11205.0,2221.0
3,Mazda 3,4351,4725,6009,7760,4610,6070,4596,5825,5277,...,20475,13092,9200,5015,NaN,NaN,NaN,NaN,NaN,NaN
4,BMW 3-Series,3642,3550,4620,4845,2379,4255,1226,4551,3184,...,14801,10635,6698,5763,NaN,NaN,NaN,NaN,NaN,NaN
5,Chrysler 300,1998,3913,3704,6223,2508,4449,2078,2320,3483,...,12630,2652,4960,1329,NaN,NaN,NaN,NaN,NaN,NaN
6,Nissan 370Z,177,260,263,447,211,312,173,224,202,...,970,1138,417,567,NaN,NaN,NaN,NaN,NaN,NaN
7,BMW 4-Series,1214,2473,1875,3230,2685,2124,2842,1585,1916,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Alfa Romeo 4C,27,22,18,22,16,20,7,12,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Toyota 4Runner,10055,9970,12510,11761,9984,10120,10335,9669,13309,...,5987,7589,2919,3829,NaN,NaN,NaN,NaN,NaN,NaN
10,BMW 5-Series,2857,3056,3690,4397,2976,3185,3679,2456,4756,...,7258,8562,3216,4350,NaN,NaN,NaN,NaN,NaN,NaN
11,Fiat 500,273,335,310,439,207,416,261,454,418,...,5138,—–,1911,—–,NaN,NaN,NaN,NaN,NaN,NaN
12,Fiat 500L,72,168,61,173,51,118,56,104,39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Fiat 500X,257,564,262,607,219,484,274,488,336,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Mazda 6,2340,2909,3396,3734,1906,2246,1619,1552,2357,...,10030,5096,4929,2258,NaN,NaN,NaN,NaN,NaN,NaN
15,BMW 6-Series,96,398,149,471,315,336,161,223,330,...,938,189,409,83,NaN,NaN,NaN,NaN,NaN,NaN
16,Volvo 60-Series,1259,1392,1501,1156,1058,1004,1400,993,302,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,BMW 7-Series,567,546,988,823,851,615,454,362,983,...,2100,1735,977,626,NaN,NaN,NaN,NaN,NaN,NaN
18,Porsche 718,612,604,239,489,163,448,263,415,237,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,BMW 8-Series,275,0,364,0,138,0,99,0,223,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Toyota 86 / FR-S,268,337,320,491,231,361,256,317,295,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Volvo 90-Series,333,763,346,1131,367,809,514,719,664,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Porsche 911,655,940,803,883,990,775,1101,853,789,...,1539,841,681,436,NaN,NaN,NaN,NaN,NaN,NaN
23,Mercedes-Benz A-Class,804,0,890,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Audi A3,681,1593,1182,1823,823,1510,664,1143,792,...,1054,1101,585,715,NaN,NaN,NaN,NaN,NaN,NaN
25,Audi A4,1860,3126,2652,3296,1436,2331,1691,2024,1881,...,5395,5253,2676,2483,NaN,NaN,NaN,NaN,NaN,NaN
26,Audi A4,1860,3126,2652,3296,1436,2331,1691,2024,1881,...,5395,5253,2676,2483,NaN,NaN,NaN,NaN,NaN,NaN
27,Audi A5,1685,2169,2224,2587,1603,1888,1651,1599,1746,...,1997,2196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Audi A6,1374,1172,1963,1171,1506,842,1889,751,3058,...,2102,1188,1130,594,NaN,NaN,NaN,NaN,NaN,NaN
29,Audi A7,441,280,672,367,474,268,620,208,1095,...,1227,—–,643,—–,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4105,——————————–,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4106,—–,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4107,Chevrolet Silverado/GMC Sierra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4108,Hyundai Sonata/Kia Optima,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4109,Honda Accord/Crosstour,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4110,Chevrolet Equinox/GMC Terrain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4111,Dodge Grand Caravan / Chrysler Town & Country,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4112,Chrysler 200/Dodge Avenger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4113,Subaru Outback/Legacy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4114,Hyundai Accent/Kia Rio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4115,Chevrolet Tahoe/GMC Yukon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4116,Hyundai Tucson/Kia Sportage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4117,Chevrolet Suburban / GMC Yukon XL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4118,Nissan Frontier/Suzuki Equator,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4119,Chevrolet Colorado/GMC Canyon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4120,Audi A4/A5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4121,Audi A6/A7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4122,Mercedes-Benz S-Class/CL-Class,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4123,Scion FR-S/Subaru BRZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4124,Porsche Boxster/Cayman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4125,Nissan LEAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1154,154,676,87,NaN,NaN,NaN,NaN,NaN,NaN
4126,Lexus ES350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5407,4813,2410,2215,NaN,NaN,NaN,NaN,NaN,NaN
4127,Infiniti EX35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,632,989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4128,Chevrolet Caprive PPV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4129,Porsche Boxsster,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4130,* Prius Liftback,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24969,24174,8500,10635,NaN,NaN,NaN,NaN,NaN,NaN
4131,* Prius V,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7138,—–,3055,—–,NaN,NaN,NaN,NaN,NaN,NaN
4132,* Prius Plug-In,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,21,—–,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4133,* Prius C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,20,—–,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4134,Toyota Prius/Prius V,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,11555,10635,NaN,NaN,NaN,NaN,NaN,NaN