In [1]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd
import csv

In [2]:
site = 'http://www.goodcarbadcar.net/2012/03/us-best-selling-autos-january-2012/#more'
site2 = 'http://www.goodcarbadcar.net/2019/03/february-2019-the-best-selling-vehicles-in-america-every-vehicle-ranked/'

In [3]:
def read_site_html(url):
#pulls text of tables from inputted url
#returns as list of dataframes
    html = requests.get(url).text
    dataframes = pd.read_html(html, header=0)
    return dataframes

In [4]:
def pull_useful_tables(dataframes):
#deletes tables with no data from list of dataframes
#returns single dataframe for month
    if len(dataframes) == 1:
        return dataframes[0]
    else:
        for df in dataframes:
            if df.columns[0] == 'Rank':
                list_of_dfs.append(df)
        merged_table = pd.concat(list_of_dfs)
        return merged_table

In [5]:
def run(url):
    x = read_site_html(url)
    y = pull_useful_tables(x)
    return y

In [6]:
bob = run(site2)

In [7]:
bob.head(10)

             Model Month Month LY  Change    YTD YTD LY  YTD Change
0  Fiat 124 Spider   139      223  -37.67    299    406      -26.35
1     BMW 2-Series   738      949  -22.23   1316   1589      -17.18
2     Chrysler 200     6      219  -97.26     18    470      -96.17
3          Mazda 3  4610     6070  -24.05   9206  11895      -22.61
4     BMW 3-Series  2379     4255  -44.09   3605   8806      -59.06
5     Chrysler 300  2508     4449  -43.63   4586   6769      -32.25
6      Nissan 370Z   211      312  -32.37    384    536      -28.36
7     BMW 4-Series  2685     2124   26.41   5527   3709       49.02
8    Alfa Romeo 4C    16       20  -20.00     23     32      -28.13
9   Toyota 4Runner  9984    10120   -1.34  20319  19789        2.68

In [8]:
bob.columns

Index(['Model', 'Month', 'Month LY', 'Change', 'YTD', 'YTD LY', 'YTD Change'], dtype='object')

In [10]:
site

'http://www.goodcarbadcar.net/2012/03/us-best-selling-autos-january-2012/#more'

In [27]:
site3 = 'http://www.goodcarbadcar.net/2012/03/us-best-selling-autos-january-2013/#more'

In [11]:
months = ['january', 'february', 'march', 'april', 'may', 'june', 'july', 
          'august', 'september', 'october', 'november', 'december']
years = list(range(2010,2020))

In [23]:
for month in months:
    if month in site:
        print(month)

january

In [28]:
for year in years:
    if str(year) in site3:
        print(year)

2012
2013

In [30]:
bone = min([year for year in years if str(year) in site3])

In [31]:
bone

[2012, 2013]

In [36]:
def find_year_and_month(url):
#parses url string to find month and year & last year of table
#returns tuple of month as string and year & last year as integers

    month = [month for month in months if month in url]
    year = min([year for year in years if str(year) in url])
    last_year = year - 1
    return month[0], year, last_year

In [37]:
bon = find_year_and_month(site3)

In [38]:
bon

('january', 2012, 2011)

In [42]:
def change_column_to_month(dataframe, url):
    if dataframe.columns[1] == 'Month':
        table_date = find_year_and_month(url)
        month_year = table_date[0] + '_' + str(table_date[1])
        month_prior_year = table_date[0] + '_' + str(table_date[2])   
        dataframe.rename(columns={'Month':month_year, 'Month LY':month_prior_year}, inplace=True)
        return dataframe

In [43]:
jimmy = change_column_to_month(bob, site3)

In [44]:
jimmy

,Model,january_2012,january_2011,Change,YTD,YTD LY,YTD Change
0,Fiat 124 Spider,139,223,-37.67,299,406,-26.35
1,BMW 2-Series,738,949,-22.23,1316,1589,-17.18
2,Chrysler 200,6,219,-97.26,18,470,-96.17
3,Mazda 3,4610,6070,-24.05,9206,11895,-22.61
4,BMW 3-Series,2379,4255,-44.09,3605,8806,-59.06
5,Chrysler 300,2508,4449,-43.63,4586,6769,-32.25
6,Nissan 370Z,211,312,-32.37,384,536,-28.36
7,BMW 4-Series,2685,2124,26.41,5527,3709,49.02
8,Alfa Romeo 4C,16,20,-20.00,23,32,-28.13
9,Toyota 4Runner,9984,10120,-1.34,20319,19789,2.68
10,BMW 5-Series,2976,3185,-6.56,6655,5641,17.98
11,Fiat 500,207,416,-50.24,468,870,-46.21
12,Fiat 500L,51,118,-56.78,107,222,-51.80
13,Fiat 500X,219,484,-54.75,493,972,-49.28
14,Mazda 6,1906,2246,-15.14,3525,3798,-7.19
15,BMW 6-Series,315,336,-6.25,476,559,-14.85
16,Volvo 60-Series,1058,1004,5.38,2458,1997,23.08
17,BMW 7-Series,851,615,38.37,1305,977,33.57
18,Porsche 718,163,448,-63.62,426,863,-50.64
19,BMW 8-Series,138,0,0.00,237,0,0.00
20,Toyota 86 / FR-S,231,361,-36.01,487,678,-28.17
21,Volvo 90-Series,367,809,-54.64,881,1528,-42.34
22,Porsche 911,990,775,27.74,2091,1628,28.44
23,Audi A3,823,1510,-45.50,1487,2653,-43.95
24,Audi A4,1436,2331,-38.40,3127,4355,-28.20
25,Audi A5,1603,1888,-15.10,3254,3487,-6.68
26,Audi A6,1506,842,78.86,3395,1593,113.12
27,Audi A7,474,268,76.87,1094,476,129.83
28,Audi A8,242,124,95.16,526,236,122.88
29,GMC Acadia,9853,10705,-7.96,20116,18149,10.84
...,...,...,...,...,...,...,...
249,Ford Transit,10055,9666,4.02,20529,17178,19.51
250,Ford Transit Connect,2823,2101,34.36,5764,4015,43.56
251,Chevrolet Traverse,10807,11548,-6.42,22065,23175,-4.79
252,Chevrolet Trax,7762,6169,25.82,15848,12275,29.11
253,Audi TT,77,76,1.32,88,181,-51.38
254,Toyota Tundra,7590,7977,-4.85,14749,15621,-5.58
255,Hyundai Tuscon,9411,8438,11.53,16855,16076,4.85
256,Lexus UX,1358,0,0.00,2149,0,0.00
257,Hyundai Veloster,981,851,15.28,1836,1595,15.11
258,Nissan Versa,7410,7196,2.97,14059,14444,-2.67
259,Chevrolet Volt,796,983,-19.02,1625,1696,-4.19
260,Jeep Wrangler,15001,15936,-5.87,28025,27675,1.26
261,BMW X1,1445,2857,-49.42,2386,4534,-47.38
262,BMW X2,1256,0,0.00,1872,0,0.00
263,BMW X3,4706,3281,43.43,7841,6235,25.76
264,BMW X4,453,517,-12.38,859,904,-4.98
265,BMW X5,4360,4006,8.84,7452,7236,2.99
266,BMW X6,859,721,19.14,1454,1256,15.76
267,Volvo XC40,985,71,1287.32,2027,71,2754.93
268,Volvo XC60,2229,1955,14.02,3700,3654,1.26
269,Volvo XC90,1996,2444,-18.33,3423,4593,-25.47
270,Jaguar XE,777,434,79.03,1183,1026,15.30
271,Jaguar XF,278,162,71.60,374,365,2.47
272,Jaguar XJ,109,191,-42.93,281,422,-33.41
273,Cadillac XT4,2219,0,0.00,4530,0,0.00
274,Cadillac XT5,4193,4668,-10.18,8561,8657,-1.11
275,Cadillac XTS,1179,1943,-39.32,2407,3163,-23.90
276,Toyota Yaris,2572,2592,-0.77,3895,4898,-20.48
277,GMC Yukon,4720,2936,60.76,9637,5637,70.96
278,Model,Month,Month LY,NaN,YTD,YTD LY,NaN