In [1]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd
import csv

In [2]:
site = 'http://www.goodcarbadcar.net/2012/03/us-best-selling-autos-january-2012/#more'
site2 = 'http://www.goodcarbadcar.net/2019/03/february-2019-the-best-selling-vehicles-in-america-every-vehicle-ranked/'

In [3]:
def read_site_html(url):
#pulls text of tables from inputted url
#returns as list of dataframes
    html = requests.get(url).text
    dataframes = pd.read_html(html, header=0)
    return dataframes

In [4]:
def pull_useful_tables(dataframes):
#deletes tables with no data from list of dataframes
#returns single dataframe for month
    if len(dataframes) == 1:
        return dataframes[0]
    else:
        for df in dataframes:
            if df.columns[0] == 'Rank':
                list_of_dfs.append(df)
        merged_table = pd.concat(list_of_dfs)
        return merged_table

In [5]:
def run(url):
    x = read_site_html(url)
    y = pull_useful_tables(x)
    return y

In [6]:
bob = run(site2)

In [7]:
bob.head(10)

             Model Month Month LY  Change    YTD YTD LY  YTD Change
0  Fiat 124 Spider   139      223  -37.67    299    406      -26.35
1     BMW 2-Series   738      949  -22.23   1316   1589      -17.18
2     Chrysler 200     6      219  -97.26     18    470      -96.17
3          Mazda 3  4610     6070  -24.05   9206  11895      -22.61
4     BMW 3-Series  2379     4255  -44.09   3605   8806      -59.06
5     Chrysler 300  2508     4449  -43.63   4586   6769      -32.25
6      Nissan 370Z   211      312  -32.37    384    536      -28.36
7     BMW 4-Series  2685     2124   26.41   5527   3709       49.02
8    Alfa Romeo 4C    16       20  -20.00     23     32      -28.13
9   Toyota 4Runner  9984    10120   -1.34  20319  19789        2.68

In [8]:
bob.columns

Index(['Model', 'Month', 'Month LY', 'Change', 'YTD', 'YTD LY', 'YTD Change'], dtype='object')

In [10]:
site

'http://www.goodcarbadcar.net/2012/03/us-best-selling-autos-january-2012/#more'

In [27]:
site3 = 'http://www.goodcarbadcar.net/2012/03/us-best-selling-autos-january-2013/#more'

In [11]:
months = ['january', 'february', 'march', 'april', 'may', 'june', 'july', 
          'august', 'september', 'october', 'november', 'december']
years = list(range(2010,2020))

In [23]:
for month in months:
    if month in site:
        print(month)

january

In [28]:
for year in years:
    if str(year) in site3:
        print(year)

2012
2013

In [30]:
bone = min([year for year in years if str(year) in site3])

In [31]:
bone

[2012, 2013]

In [ ]:
def find_year_and_month(url):
    year = min([year for year in years if str(year) in site3])
    month

In [ ]:
def change_column_to_month(dataframe, url):
    if dataframe.columns[1] = 'Month':
        for month in months:
            if month in site:
                
            
        #dataframe.rename(columns={'Month':month_year, 'Month LY':month_prior_year}, inplace=True)